{{> header }}
<div class="container">
  We welcome any feedback from you! We can be reached by phone or email:

  <ul class="list-group-item my-3">
    <li>Mukhwana Alexander</li>
    <li>Student, Engineer</li>
    <li>wanaexy@gmail.com</li>
    <li>+256 775 313 615 </li>
  </ul>

  <ul class="list-group-item my-3">
    <li>Ssenyonjo Gilbert</li>
    <li>Student, Web Developer </li>
    <li>gssenyonjo@gmail.com</li>
    <li>+256 752 633 239 </li>
  </ul>

</div>

{{> footer }}
