{{> header }}
<div class="container my-2 mx-1">
  <ul classs="list-group">
    <a class="list-group-item list-group-item-action list-group-item-secondary mb-2 d-flex justify-content-between align-items-center" href="#"> Soap <span class="badge badge-info ">2,000/=</span> </a>
    <a class="list-group-item list-group-item-action list-group-item-secondary mb-2 d-flex justify-content-between align-items-center" href="#"> Calculator </a>
    <a class="list-group-item list-group-item-action list-group-item-secondary mb-2 d-flex justify-content-between align-items-center" href="#"> USB Flash disk - 32 GB <span class="badge badge-info">35,000/=</span> </a>
    <a class="list-group-item list-group-item-action list-group-item-secondary mb-2" href="#"> Ruled Papers </a>
  </ul>
</div>
{{> footer }}
