<!DOCTYPE html>

<html>
    <head>
        <title>kyu online shoppers</title>
    </head>

    <body>
        {{> header }}
        <h1>Your number one merchants</h1>
        <p>Welcome to kyu online shoppers. This site is still under development but we shall get back to you!</p>
    </body>
</html>